<h3>Employee Details</h3>
<font size="5">
<table class="table table-bordered" style="width: 50%">
          <tr>
               <th class="text-primary">Full Name</th>
               <td>{{employee.firstName}}&nbsp;{{employee.lastName}}</td>               
          </tr>
          <tr>
               <th class="text-primary">Department</th>
               <td>{{employee.department}}</td>
          </tr>
          <tr>
               <th class="text-primary">Email</th>
               <td>{{employee.email}}</td>
          </tr>
          <tr>
               <th class="text-primary">Contact No.</th>
               <td>{{employee.contact}}</td>
          </tr>
</table>
</font>


     