<div class="col-md-4 offset-md-4">
     <h4>Update Employee</h4>
     <form (ngSubmit) = "onSubmit()">

          <div class="form-group">
               <label>First Name</label>
               <input type="text" class="form-control mb-2" id = "firstName" 
                    [(ngModel)] = "employee.firstName" name="firstName">
          </div>

          <div class="form-group">
               <label>Last Name</label>
               <input type="text" class="form-control mb-2" id = "lastName" 
                    [(ngModel)] = "employee.lastName" name="lastName">
          </div>

          <div class="form-group">
               <label>Email</label>
               <input type="email" class="form-control mb-2" id = "email" 
                    [(ngModel)] = "employee.email" name="email">
          </div>

          <div class="form-group">
               <label>Contact</label>
               <input type="text" class="form-control mb-2" id = "contact" 
                    [(ngModel)] = "employee.contact" name="contact">
          </div>
          
          <div class="form-group">
               <label>Department</label>
               <input type="text" class="form-control mb-2" id = "department" 
                    [(ngModel)] = "employee.department" name="department">
          </div>
     
          <button class="btn btn-success" type="submit">Submit</button>
     
     </form>
     </div>